.container {
    max-width:120rem;
    margin: 8rem auto;
    background-color: var( --grey-color-light-1);
    box-shadow: var(--box-shadow-dark);

    min-height: 50rem;
}

.header {

}

.content {

}

.sidebar {

}